.work-list {
    background-color: var(--overlay-60-color);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.work-item-container {
    display: flex;
    overflow: hidden;
    gap: 24px;
    border-bottom: 1px solid var(--base-30-color);
    align-items: center;
    padding: 24px;

    transition: background-color 0.3s ease;
}

.work-item-container h2{
    transition: color 0.3s ease;
}

.work-item-container:last-of-type {
    border-bottom: none;
}

.work-item-container:hover {
    background-color: var(--overlay-dark-10-color);
    transition: background-color 0.3s ease;
}

.work-item-container:hover h2 {
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.image-container {
    flex: 1;

    display: flex;
    align-items: center;
}

.image-container img {
    border-radius: 24px;
    object-fit: cover;
    width: 100%;
    height: 120px;
    
    
}

.content-container {
    flex:3;

    margin:0;
    padding:0;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-container h2 {
    margin: 0;
    padding: 0;

    font-size: 1.4rem;
    color: var(--base-90-color);
}

.content-container p {
    margin: 0;
    padding: 0;

    line-height: 130%;

    color: var(--base-90-color);
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }