@font-face {
    font-family: 'Lexend';
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
}

:root {
    --primary-color: #135959;
    --base-00-color: #F7F6EF;
    --base-20-color: #E8E7C9;
    --base-30-color: #DEDDC0;
    --base-40-color: #D6D4B0;
    --base-80-color: #5B5D5D;
    --base-90-color: #141818;
    --overlay-30-color: rgba(255, 255, 255, 0.3);
    --overlay-60-color: rgba(255, 255, 255, 0.6);
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;

    background-color: var(--base-30-color);

}

h1 {
    padding: 0;
    margin: 24px 0;

    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
}

h2 {
    padding: 0;
    margin: 24px 0;
}

p {
    padding: 0;
    margin: 24px 0;
}

ul {
    padding: 0 0 0 24px;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    line-height: 2rem;
}

hr {
    padding: 0;
    margin: 40px 0;

    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;

    border-color: var(--base-00-color);
}