.header-label-section h1 {
    background: var(--overlay-30-color);
    padding: 16px 32px 14px 32px;
    border-radius: 24px;


}

.header-label-text {
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}