.hero-section {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(18px + 1vw);
  padding: 64px 0px;
  margin: 0 auto;
}

.hero-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.hero-text > h1 {
  padding: 0;
  margin: clamp(16px, 3vw, 24px) 0;
  font-family: "Piazzolla", serif;
  font-weight: 600;
  font-size: clamp(3rem, 5vw, 4rem); /* Bigger, more impactful h1 */
  letter-spacing: 1%;
  line-height: 1.2; /* Adjust line-height for better readability */
  color: var(--base-80-color);
}

.hero-text h1,
.hero-text p {
  margin: 0;
  max-width: 600px;
}

.hero-image {
  flex: 1;
  flex-shrink: 0;
  padding-bottom: 24px;
  padding-left: calc(4px + 2vw);
  padding-right: calc(4px + 2vw);
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* ---- Responsiveness ---- */

/* Mobile devices (up to 768px) */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
    gap: calc(18px + 1vw);
    padding: 0px 0px;
  }

  .hero-image {
    padding: 0px;
  }
}
