/* --Page Column Styling-- */

.page-container {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
  max-width: 1400px;
}

/* --Navigation Styling-- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-links li a#home {
  font-family: "Piazzolla", serif;
  font-weight: 700;
  font-size: clamp(18px, 2vw, 21px);
  color: var(--base-80-color);
}

.nav-links li a {
  font-family: "Lexend", sans-serif;
  text-decoration: none;
  color: var(--primary-color);
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 16px);
}

.nav-links li a:hover {
  border-bottom: 3px solid var(--primary-color);
}

/* --Footer Styling-- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 24px 0px;
}

.footer-left p {
  color: var(--base-90-color);
}

.footer-right {
  display: flex;
  gap: 24px;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

/* ---- Responsiveness ---- */

/* Mobile devices (up to 768px) */
@media (max-width: 768px) {
  .page-container {
    padding: 5vw;
    gap: 5vw;
  }
}
